<div class="dashboard_div">
  <!-- Sidenav -->
  <div [ngClass]="{'dashboar_sidenav': sidenav, 'dashboar_sidenavClose': !sidenav}">
    >
    Menu
  </div>
  <!-- Content -->
  <div class="dashboard_content">
    <div class="dashboar_toolbar">
      <!-- Boton para abrir y cerar el sidenav -->
      <button mat-icon-button class="dashboard_btnSidenav" (click)="sidenav = !sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- icono de coink -->
      <img src="../../../assets/img/icon.png" class="dashboard_icon" alt="coink">
    </div>
    <app-dashboard-datatable></app-dashboard-datatable>
  </div>
</div>
