<div class="dashboard_div">
  <!-- Sidenav -->
  <div [ngClass]="{'dashboar_sidenav': sidenav, 'dashboar_sidenavClose': !sidenav}">
    <h2 class="m_b_2">Menu</h2>
    <!-- Boton para cerrar sesión -->
    <button mat-stroked-button color="error" routerLink="/login">
      <span class="m_r_05">Cerrar sesión</span>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
  <!-- Content -->
  <div class="dashboard_content">
    <div class="dashboar_toolbar">
      <!-- Boton para abrir y cerar el sidenav -->
      <button mat-icon-button class="dashboard_btnSidenav" (click)="sidenav = !sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- icono de coink -->
      <img src="../../../assets/img/icon.png" class="dashboard_icon" alt="coink">
    </div>
    <app-dashboard-datatable></app-dashboard-datatable>
  </div>
</div>
