/* Estilo del div principal */
.dashboard_div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  width: 100%;
  max-width: 100%;
  background-color: whitesmoke;
  overflow: hidden;
}

/* Estilo del sidenav */
.dashboar_sidenav {
  padding: 1rem;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: 5rem;
  transition: all 0.5s;

}

/* Estilo del sidenav cerrado */
.dashboar_sidenavClose {
  padding: 1rem;
  background-color: white;
  left: -150%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  padding-top: 5rem;
  transition: all 0.5s;
}

/* Para ordenadores y tabletas FHD */
@media only screen and (min-width: 992px) {
  .dashboar_sidenav {
    padding: 1rem;
    background-color: white;
    width: 15rem;
    position: static;
  }

  .dashboar_sidenavClose {
    padding: 1rem;
    background-color: white;
    width: 15rem;
    position: static;
  }
}

/* Estilo del contenedor de información */
.dashboard_content {
  width: 100%;
  position: relative;
  padding: 3.5rem 0rem 2rem 0rem;
}

/* Estilo del dashboard */
.dashboar_toolbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #004B40;
  width: 100%;
  display: flex;
  padding: 0.5rem 0rem;
  color: white;
  z-index: 10;
}

/* Estilo del boton del sidenav */
.dashboard_btnSidenav {
  margin-left: 0.5rem;
}

/* Para ordenadores y tabletas FHD */
@media only screen and (min-width: 992px) {
  .dashboard_btnSidenav {
    display: none;
  }
}

/* Estilo del icono */
.dashboard_icon {
  height: 2.5rem;
  margin-left: auto;
  margin-right: 0.5rem;
}
