<div class="login_div">
  <!-- opción de ayuda -->
  <div class="login_divHelp">
    <!-- icono de ayuda -->
    <img src="../../../assets/img/help.png" alt="help" class="login_imgHelp">
    <!-- boton de acción -->
    <button mat-button>
      <span class="text_white text_light text_underline">¿Necesitas ayuda?</span>
    </button>
  </div>
  <!-- Componente Signin -->
  <app-login-signin></app-login-signin>
  <!-- Footer del login -->
  <div class="login_footer">
    <span>Copyright © 2020 Coink S.A.</span> 
  </div>
</div>
