/* Estilo del div de tablas */
.dd_div {
  padding: 0rem 1.5rem 2rem 1.5rem;
  height: 100%;
  overflow: auto;
}

/* Para tabletas en adelante */
@media only screen and (min-width: 600px) {
  .dd_div {
    padding: 0rem 2rem 2rem 2rem;
    height: 100%;
    overflow-y: auto;
  }
}

/* Todo: Clase global anclada en el css debido
 a que se sobreponen los estilos de angular material */
.text_title {
  color: #1EEB00;
  font-size: large;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
  margin-top: 2rem;

}

/* Estilo de la cabecera de opciones */
.dd_headerDiv {
  display: block;
  width: 100%;
  margin-bottom: 0.3rem;
}

/* Para tabletas en adelante */
@media only screen and (min-width: 600px) {
  .dd_headerDiv {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

/* Estilo del input de seleccion */
.dd_inputSelect {
  width: 100%;
  margin-right: 0.5rem;

}

/* Para tabletas en adelante */
@media only screen and (min-width: 600px) {
  .dd_inputSelect {
    width: 150px;
    margin-left: 0.5rem;

  }
}

/* Estilo del input de busqueda */
.dd_inputSearch {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

/* dt_btnFilter */
.dd_btnClear {
  background-color: #004B40;
  box-shadow: none;
  color: white;
  font-weight: normal;
  margin-bottom: 7px;
}

/* Estilo del div */
.dd_divTable {
  width: 100%;
  overflow-x: auto;
}

/* Estilo de la tabla */
.dd_table {
  width: 100%;
  min-width: 800px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 75, 64, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 75, 64, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 75, 64, 0.3);
  border-radius: 3px;
  padding: 0.3rem;
}

/* Estilo de la cabecera */
.dd_headerTable {
  padding: 1rem 0rem;
  position: sticky;
  top: 0rem;
  background-color: white;
}

/* Estilo de las filas y columnas del body */
.dd_rowTable {
  border-bottom: 1px whitesmoke solid;
}

.dd_rowTable>td {
  padding: 1rem;
  text-align: center;
  margin: 0rem;
  border-top: 1px solid whitesmoke;
  font-size: small;
  font-weight: lighter;
}

.dd_rowTable:hover {
  background-color: whitesmoke;
  border-top: 1px solid whitesmoke;

}

/* Estilo del paginador movil */
.dd_paginatorMovil {
  margin-left: auto;
  color: #1EEB00;
}

/* Para ordenadores y tabletas FHD */
@media only screen and (min-width: 992px) {
  .dd_paginatorMovil {
    display: none;
  }
}

/* Estilo del footer de la tabla */
.dd_paginator {
  padding: 1rem;
  text-align: right;
  color: #1EEB00;
  display: none;
}

/* Para ordenadores y tabletas FHD */
@media only screen and (min-width: 992px) {
  .dd_paginator {
    padding: 1rem;
    text-align: right;
    color: #1EEB00;
    display: flex;
  }
}

/* Estilo de los numero del paginador */
.dd_numberTable {
  color: black;
  border-radius: 5px;
}
