<div class="dd_div">
  <!-- Titulo -->
  <h2 class="text_title">CONSULTAS - COMPRAS</h2>
  <!-- Cabecera de opciones -->
  <div class="dd_headerDiv">
    <!-- Input de fechas -->
    <!-- <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input>
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field> -->
    <!-- select de busqueda -->
    <mat-form-field class="dd_inputSelect">
      <mat-label>Campo de filtro</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Nombre</mat-option>
        <mat-option value="2">Celular</mat-option>
        <mat-option value="3">E-mail</mat-option>
        <mat-option value="4">Edad</mat-option>
        <mat-option value="5">Fecha de compra</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Input de busqueda -->
    <mat-form-field floatLabel="auto" class="dd_inputSearch" color="primary">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Buscar</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <div class="d_flex">
      <!-- Boton para limpiar filtro -->
      <button mat-raised-button class="dd_btnClear">Limpiar filtros</button>
      <!-- Paginador movil -->
      <div class="dd_paginatorMovil">
        <!-- left -->
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_left
          </mat-icon>
        </button>
        <!-- Números de ejemplo -->
        <button mat-icon-button class="dd_numberTable">1
        </button>
        <button mat-icon-button class="dd_numberTable">2
        </button>
        <!-- right -->
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <!-- Tabla -->
  <div class="dd_divTable">
    <table class="dd_table">
      <!-- Cabecera de la tabla -->
      <tr>
        <th class="dd_headerTable" *ngFor="let title of header">{{title}}</th>
      </tr>
      <!-- Body de la tabla -->
      <tr *ngFor="let transaction  of localTransactions; index as i" class="dd_rowTable">
        <td>{{transaction.name}}</td>
        <td>{{transaction.cel}}</td>
        <td>{{transaction.email}}</td>
        <td>{{transaction.date}}</td>
        <td>{{transaction.age}}</td>
      </tr>
      <tr class="relative">
        <!-- Paginator -->
        <td colspan="5">
          <div class="dd_paginator">
            <!-- left -->
            <button mat-icon-button>
              <mat-icon>keyboard_arrow_left
              </mat-icon>
            </button>
            <!-- Números de ejemplo -->
            <button mat-icon-button class="dd_numberTable">1
            </button>
            <button mat-icon-button class="dd_numberTable">2
            </button>
            <button mat-icon-button class="dd_numberTable">3
            </button>
            <button mat-icon-button class="dd_numberTable">4
            </button>
            <!-- right -->
            <button mat-icon-button>
              <mat-icon>keyboard_arrow_right
              </mat-icon>
            </button>
          </div>
        </td>

      </tr>
    </table>
  </div>
</div>
